.assets-table{
  display: flex;
  flex-direction: column;
  width: 1120px;

  .assets-table__top, .assets-table-list__item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font: 14px "Poppins", sans-serif;
    height: max-content;
    padding: 10px 0;
  }

  .assets-table__divider{
    width: 100%;
    height: 1px;
    background-color: #9b9b9e;
  }
}

