.button-ui{
  width: 140px;
  height: 40px;
  background-color: #141416;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.4s;
  font: 14px "Poppins", sans-serif;
  &:hover{
    background-color: #1d1d20;
  }
}