.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 14px "Poppins", sans-serif;

  &__content {
    width: 500px;
    height: max-content;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;

    &__menu {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10px;
    }
  }
  .assets-list {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid #141416;
    border-radius: 10px;

    &__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 5px 0;
      user-select: none;
      cursor: pointer;
      transition-duration: 0.3s;
      &:hover{
        background-color: #e5e5ea;
      }
    }
  }
  &__input-search,
  &__input-quantity{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #141416;

  }
}

.modal_visible {
  opacity: 1;
}

.modal_hidden {
  opacity: 0;
  display: none;
}
