.assets-list{
    display: flex;
    flex-direction: column;
}

.asset-item{
    display: flex;
    justify-content: space-around;
}

#root{
    position: relative;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}